// --------------------------------------------
// Responsive ---------------------------------
// --------------------------------------------
$screen__sizes: (
  desktop: 1200px,
  tablet: 768px,
  phone: 480px,
);

$gutter: 8px;

// --------------------------------------------
// Colors -------------------------------------
// --------------------------------------------
$color: (
  other: (
    orange: #f8a623,
    pink: #ff4577,
    dark-gray: #5d6a89,
    blue: #4f88ff,
  ),
);
// --------------------------------------------
// Animations ---------------------------------
// --------------------------------------------
$easing: (
  swing: cubic-bezier(.25,.8,.50,1)
);
// --------------------------------------------
// border radius ------------------------------
// --------------------------------------------
$border__radius: (
  1: 4px,
  2: 6px,
  3: 8px,
  4: 12px,
  5: 16px,
);
